<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Smoke Suite" verbose="1">

	<!--	<test name="app login Tests">
		<classes>
			<class name="selenium3demo.com.testng.TestNGDemo" />
		</classes>
	</test>  -->

	<test name="Author verification">
		<parameter name="Admin" value="Kumar"></parameter>
		<parameter name="User" value="Ajay"></parameter>
		<parameter name="UnAuthorized" value="IronMan"></parameter>
		<parameter name="Browser" value="Chrome"></parameter>
		<classes>
			<class name="com.practicetestng.DataProviderPractice" />
		</classes>
	</test>
</suite>
